table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.fixed-header, .fixed-footer{
        width: 100%;       
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
	
	.fixed-header{
        top: 0;
        height: 4%;
    }
    .fixed-footer{
        bottom: 0;
        height: 1%;
		position: fixed;
    }  
    .container{
        width: 30%;
        margin: 0 auto; /* Center the DIV horizontally */
    } 